@media (prefers-color-scheme: light) {
  :root {
    --hover-border-color: rgba(50, 49, 45, 0.4);
    --title-color: #ffc2e6;
    --title-shadow: #ff8dcb;
    --regular-text-color: #353430;
    --accent-color: #353430;
    --accent-hover-color: #32312d66;
    --subtitle-background-color: #ff8dcb;
    --subtitle-color: #353430;
    --background-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png);
    --rec-decor-visibility: hidden;
  }
}

.page.theme_light {
  --hover-border-color: rgba(50, 49, 45, 0.4);
  --title-color: #ffc2e6;
  --title-shadow: #ff8dcb;
  --regular-text-color: #353430;
  --accent-color: #353430;
  --accent-hover-color: #32312d66;
  --subtitle-background-color: #ff8dcb;
  --subtitle-color: #353430;
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --rec-decor-visibility: hidden;
}
